@use './vars' as vars;

@mixin typeface {
  font-family: vars.$font-family;
  font-size: vars.$font-size;
}

@mixin typeface--lg {
  font-family: vars.$font-family;
  font-size: vars.$font-size-lg;
}

@mixin typeface--md {
  font-family: vars.$font-family;
  font-size: vars.$font-size-md;
}

@mixin typeface--sm {
  font-family: vars.$font-family;
  font-size: vars.$font-size-sm;
}

@mixin typeface--xs {
  font-family: vars.$font-family;
  font-size: vars.$font-size-xs;
}

@mixin typeface__title {
  @include typeface;
  font-weight: vars.$font-bold;
}

@mixin typeface__title--lg {
  @include typeface--lg;
  font-weight: vars.$font-bold;
}

@mixin typeface__title--md {
  @include typeface--md;
  font-weight: vars.$font-bold;
}

@mixin typeface__title--sm {
  @include typeface--sm;
  font-weight: vars.$font-bold;
}

@mixin typeface__title--xs {
  @include typeface--xs;
  font-weight: vars.$font-bold;
}

@mixin button {
  padding: vars.$btn-padding;
  radius: 5px;
}