@use '../app/vars' as vars;

.avatar {
  display: flex;
  order: 3;
  align-items: center;
  padding: 0 (vars.$spacer * 1.5);

  &__img {
    height: 50px;
    width: 50px;
    flex: 0 0 50px;
    border-radius: 100%;
    overflow: hidden;
    background-color: vars.$border-color;
    margin-right: vars.$spacer;

    & img {
      width: 100%;
      max-width: 100%;
    }
  }
}